{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
<div style="width: 50%; margin-left: 25%">
    <h1 class="text-center">Nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}
</div>
<div class="col-lg-12 text-center">
    <a class="btn btn-primary" href="{{ path('category_index') }}">Retour vers les catégories <i class="fas fa-undo-alt"></i></a>
</div>
{% endblock %}
